extends layout

block content
  h1= title
  p #{query.rows}
  p #{query.cols}

  - let rows = Number(query.rows)
  - let cols = Number(query.cols)
  if !Number.isInteger(rows) || !Number.isInteger(cols)
    p A value entered is not an integer
  else if rows < 1 || rows > 10
    p The value entered for rows is not an within 1-10
  else if cols < 1 || cols > 10
    p The value entered for cols is not an within 1-10
  else
    table#outer
      -for(let i = 0; i < rows; i++){
        tr#middle
          -for(let j = 0; j < cols; j++){
            td #{1+i+(j*rows)}
          -}
      -}

